.contentTypesStat {
  .statistics-cards {
    justify-content: space-between;
  }
  
.custom-yellow-button {
  background-color: #e3a024 !important;
  border-color: #e3a024 !important;
  color: #fff !important; /* Add text color */
}

.custom-yellow-button:hover,
.custom-yellow-button:focus,
.custom-yellow-button:active {
  background-color: #c78a1f !important; /* Darker shade on hover */
  border-color: #c78a1f !important;
  color: #fff !important;
}

/* If it's a link styled as a button, add these */
a.custom-yellow-button {
  background-color: #e3a024 !important;
  border-color: #e3a024 !important;
  color: #fff !important;
  text-decoration: none !important;
}
  .statistic {
    flex: 0 0 300px;
    width: 300px;
    margin: 24px 12px;
  }

  .feature-img {
    border-radius: 50%;
    overflow: hidden;
    height: 300px;
    width: 300px;
  }

  .feature-title {
    font-size: 45px;
    margin: 0;
  }

  .feature-description {
    font-size: 24px;
  }
}

@media (max-width: 1250px) {
  .contentTypesStat {
    .statistics-cards {
      justify-content: space-around;
    }
    .statistic {
      flex: 0 0 250px;
      width: 250px;
    }
  
    .feature-img {
      height: 250px;
      width: 250px;
    }
  
    .feature-title {
      font-size: 35px;
      margin: 0;
    }
  
    .feature-description {
      font-size: 20px;
    }
  }
}

@media (max-width: 1050px) {
  .contentTypesStat {
    .statistics-cards {
      justify-content: space-around;
    }
    .statistic {
      flex: 0 0 200px;
      width: 200px;
    }
  
    .feature-img {
      height: 200px;
      width: 200px;
    }
  
    .feature-title {
      font-size: 35px;
      margin: 0;
    }
  
    .feature-description {
      font-size: 20px;
    }
  }
}

.exampleDashboard {
  padding-top: 48px;
}

.custom-orange {
  color: #e7a224;
}
.custom-green {
  color: #819b81;
}

.feature-cta {
  display: inline-flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px 96px;
  > div {
    width: 200px;
    max-width: 200px;
  }
}
