@import "theme/_main";

// You can add additional styling here
@import "_example";

section.statistics {
  background-color: #ffffff !important;
}
// ensuring the styling is the same across alll blocks //
section.statistics::before,
section.statistics::after {
  background: transparent !important;
}
// adding logos to the navbar
.navbar-end .navbar-item img {
  height: 30px;
  width: auto;
  object-fit: contain;
}

.navbar-end .navbar-item {
  display: flex;
  align-items: center;
  gap: 16px;
}
